{% extends 'base.html' %}

{% block content %}

<h2>Login</h2>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}  <!--User name input rectangle $ password input rectangle -->

    <input type="submit" value="Login"> <!--submit button returned to dashboard because of LOGIN_REDIRECT_URL = "dashboard" in settings-->
</form>

<a href="{% url 'dashboard' %}">Back to dashboard</a>
<a href="{% url 'password_reset' %}">Reset password</a>
<a href="{% url 'register' %}">Register</a>
{% endblock %}